.about-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    z-index: 5;
}

.about-container h1 {
    font-size: 36px;
    text-align: center;
}

.about-container p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.about-container hr {
    border: 1px solid whitesmoke;
    margin: 20px 0;
}